	body {
	margin: 0 0 0 0;
	color: rgb(245, 245, 245);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	height:100%;
	background-color: black;
	min-width: 1360px;
	width: 100%;
}

html {
	height:100%;
}

a {
	color: #8fde8f;
}

#bgImg {
	width:100%;
	height:100%;
	background-size: 100%;
	background-image: url('picturebg4.jpg');
	background-repeat: no-repeat;
	background-position: right top;
min-height: 800px;
/* 	position: absolute; */
	z-index: -1;
}

#headerBg {
	font-family: 'Futura';
	text-align: left;
	background-size: 100%;
	min-height: 100%;
	height:100%;
	width: 100%;
}


#HugeHeader {
	font-size: 3em;
}

#subHeader {
	font-size: 1.3em;
}

#headerContent {
	position: absolute;
	width:40%;
	margin-left: 22%;
	margin-top: 20%;
}


#separator {
	width:100%;
	height:3px;
	background-color: #e6e6e6;
}

#content-block {
	color: rgb(46, 44, 42);
	text-shadow: none;
	font-family: "Helvetica Neue";
	text-align: center;
}

#subheader {
	margin: 0;
	padding: 20px;
	text-align: center;
}

#aboutHeader {
	background-color: rgb(255, 192, 0);
	color: rgb(46,44,42);
	padding: 13%;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: 0;
	font-family: "Futura";
	font-size: 1.1em;
}

.rightItems {
	text-align: right;
}

.descriptionSection {
	width: 30%;
	float: left;
	text-align: left;
	font-size: 1.4em;
}

img {
	float: right;
}

.projectSection {
	padding: 15%;
	padding-top: 8%;
	padding-bottom: 8%;
	color: white;
	min-height: 100%;
	height: 380px;
}

.firstProjectBlock {
	background-color: rgb(210, 0, 53);
}


.secondProjectBlock {
	background-color: rgb(0, 203, 112);  

}

.thirdProjectBlock {
	background-color: rgb(173, 89, 114);
/* 	background-color: rgb(255, 137, 101); */
}

.fourthProjectBlock {
	background-color: rgb(0, 163, 166);

}

.fifthProjectBlock {
	background-color: rgb(0, 203, 112);  

}

.sixthProjectBlock {
	background-color: rgb(255, 131, 0);
}

.seventhProjectBlock {
	background-color: rgb(210, 0, 53);	
}
/*

	background-color: rgb(210, 0, 53);
	background-color: rgb(255, 131, 0);
	background-color: rgb(255, 137, 101);
	background-color: rgb(251, 154, 147);
	background-color: rgb(0, 203, 112);  
	background-color: rgb(0, 163, 166);
*/
h1 {
/* 	color: rgb(222,78, 64); */
}

#footer {
/* 	margin: 0; */
	padding-top: 50px;
	text-align: center;
	width:100%;
	height: 150px;
	background-color: rgb(46,44,42);
	font-size: 1em;
}

/*

---rgb(255, 0, 12);
+rgb(255, 131, 0);
+rgb(255, 192, 0);
-rgb(106, 203, 0);
+rgb(0, 203, 112);

----rgb(197, 0, 39);
---rgb(255, 0, 0);
---rgb(255, 128, 0);
+rgb(255, 186, 0);

++rgb(0, 163, 166);

+rgb(210, 0, 53);
+rgb(255, 187, 0);
+rgb(127, 180, 0);
rgb(0, 123, 154);
---rgb(78, 26, 115);


---rgb(82, 0, 60);
+rgb(208, 0, 70);
---rgb(249, 120, 0);
---gb(253, 206, 0);
--rgb(128, 161, 0);


*/
